<template>
  <div class="bg-sidebar flex items-center justify-center w-screen h-screen">
    <img src="/loader.svg" alt="" width="240">
  </div>
</template>

<script>
export default {
  name: "Loader"
}
</script>

<style scoped>
.wrapper {

}
</style>