<script setup lang="ts">
import {useDealSliderStore} from "../../../store/deal-slider.store";

const store = useDealSliderStore()

const isLocalOpen = computed({
  get: () => store.isOpen,
  set: value => {
    store.isOpen = value
  }
})
</script>

<template>
  <div>
    <USlideover v-model="isLocalOpen">
      <UCard
        class="flex flex-col flex-1 overflow-y-auto bg-slate-700"
        :ui="{
          body: { base: 'flex-1'},
          ring: '',
          divide: 'divide-y divide-border'
        }"
      >
        <template #header>
          <KanbanSlideoverTop/>
        </template>
        <KanbanSlideoverComments/>
      </UCard>
    </USlideover>
  </div>
</template>

<style scoped>

</style>