<script setup lang="ts">
import {useQuery} from "@tanstack/vue-query";
import {DB_ID, COLLECTION_CUSTOMERS} from "../../app.constants";
import type {ICustomer} from '../../types/deal.types'
import {useSeoMeta} from "unhead";

useSeoMeta({
  title: 'Customers | CRM System',
})

const {data: customers, isLoading} = useQuery({
  queryKey: ['customers'],
  queryFn: () => DB.listDocuments(DB_ID, COLLECTION_CUSTOMERS),
})

</script>

<template>
  <div class="p-10">
    <h1 class="font-bold text-2x1 mb-10">Our clients</h1>
    <div v-if="isLoading">Loading...</div>
    <UiTable v-else>
      <UiTableHeader>
        <UiTableRow>
          <UiTableHead class="w-[200px]">Image</UiTableHead>
          <UiTableHead class="w-[300px]">Name</UiTableHead>
          <UiTableHead class="w-[300px]">Email</UiTableHead>
          <UiTableHead>Source</UiTableHead>
        </UiTableRow>
      </UiTableHeader>
      <UiTableBody>
        <UiTableRow

          v-for="customer in (customers?.documents as unknown as ICustomer[])"
          :key="customer.$id"
        >
          <UiTableCell>
            <NuxtLink :href="`/customers/edit/${customer.$id}`">
              <NuxtImg
                  :src="customer.avtar_url"
                  :alt="customer.name"
                  width="50"
                  height="50"
                  class="rounded-full"
              />
            </NuxtLink>
          </UiTableCell>
          <UiTableCell class="font-medium">
            {{ customer.name }}
          </UiTableCell>
          <UiTableCell>
            {{ customer.email }}
          </UiTableCell>
          <UiTableCell>
            {{ customer.from_source }}
          </UiTableCell>
        </UiTableRow>
      </UiTableBody>
    </UiTable>
  </div>
</template>



<style scoped>

</style>